.topHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0099;
  height: 30px;
}
.topHeader span {
  font-size: 13px;
  color: white;
  text-align: center;
}
.header {
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  height: fit-content;
  width: 100%;
  padding: 5px 40px;
  top: 0;
  z-index: 100;
}
.header .logo {
  cursor: pointer;
}
.header ul {
  display: flex;
}
.header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav {
  display: none;
}
.header span {
  color: black;
  font-weight: 600;
}
.ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.li {
  list-style: none;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  color: #ff0099;
}

.menuIcon {
  display: none;
  cursor: pointer;
}
.socialIcon {
  cursor: pointer;
}

@media (max-width: 1152px) {
  .top ul {
    display: none;
  }
  .header .nav {
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
  }
  .header .nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 5px;
  }
  .header .nav ul li {
    font-size: 8px;
    border: 1px solid #edebf2;
  }
  .socialIcon {
    display: none;
  }
  .menuIcon {
    display: block;
  }
}
@media (max-width: 540px) {
  .logo {
    height: 50px;
    width: 100px;
  }
}
