.ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.li {
  list-style: none;
  padding: 10px;
  font-weight: 600;
  color: #ff0099;
  /* text-shadow: 2px 2px 4px #d7d2e6; */
  cursor: pointer;
}
.logo {
  cursor: pointer;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section .cover_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 130px;
  width: 95%;
  margin: 0 40px;
  border-bottom: 1px solid;
  /* z-index: 20; */
}

.cover_header .span {
  color: black;
  font-weight: 600;
}

.section .container {
  display: flex;
  width: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 55%;
  padding-right: 40px;
}
.right {
  width: 45%;
  padding-left: 40px;
}
.h1 {
  text-align: right;
}
.description {
  padding: 40px 0;
  font-weight: 500;
  /* font-size: 25px; */
  text-align: right;
  color: #000000;
}

.button_two {
  background-color: #ff0099;
  margin-left: 20px;
}

.menuIcon {
  display: none;
}
@media (max-width: 1152px) {
  .h1 {
    font-size: 8vw;
  }
  .section {
    justify-content: center;
  }
  .logo {
    display: none;
  }
  .SocialIcon {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .section .cover_header ul {
    display: none;
  }
  .logo {
    /* height: 50px;
    width: 100px; */
  }
  .container {
    justify-content: center;
  }

  .left {
    display: none;
  }
  .right {
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .box {
    align-items: center;
  }
  .h1 {
    /* font-size: 70px; */
    text-align: center;
    text-shadow: 2px 2px 4px #d7d2e6;
  }
  .description {
    text-shadow: 2px 2px 4px #d7d2e6;
    text-align: center;
  }
  .button_one,
  .button_two {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
    margin: 0;
    padding-top: 200px;
  }
  .button_one {
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .button_two {
    /* margin: 40px; */
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 600px) {
  .section {
    height: 100vh;
  }
  .right {
    display: flex;
    justify-content: center;
    width: 90%;
    padding-top: 100px;
  }
  .h1 {
    font-size: 45px;
  }

  .button_one {
    /* background-color: #ff0099; */
    background-color: #000000;
  }
  .button_two {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
