.ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.li {
  list-style: none;
  padding: 10px;
  font-weight: 600;
  text-shadow: 2px 2px 4px #d7d2e6;
  cursor: pointer;
}

.section {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}
.section .cover_header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: absolute;
  height: 130px;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid;
  /* background-color: #d7d2e6; */
}

.cover_header .span {
  color: black;
  font-weight: 600;
}

.section .container {
  display: flex;
  /* border: 1px solid; */
  width: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 55%;
  /* height: 90vh; */
  /* border: 1px solid; */
  padding-right: 40px;
}
.right {
  width: 45%;
  padding-left: 40px;
  /* border: 1px solid; */
}
.h1 {
  text-align: right;
}
.description {
  padding: 40px 0;
  font-weight: 500;
  text-align: right;
  /* font-size: 20px; */
}
.button {
}

.button_two {
  background-color: #ff0099;
  margin-left: 20px;
}

@media (max-width: 1152px) {
  .h1 {
    font-size: 8vw;
  }
  .section {
    justify-content: center;
  }
  .section .cover_header {
    display: none;
  }
  .container {
    justify-content: center;
  }

  .left {
    display: none;
  }
  .right {
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .box {
    align-items: center;
  }
  .h1 {
    /* font-size: 70px; */
    text-align: center;
    text-shadow: 2px 2px 4px #d7d2e6;
  }
  .description {
    text-shadow: 2px 2px 4px #d7d2e6;
    text-align: center;
  }
  .buttons {
    padding: 0;
  }
  .button_one,
  .button_two {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button_one {
    margin: 20px;
  }
  .button_two {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .section {
    height: 100vh;
  }
  .right {
    display: flex;
    justify-content: center;
    width: 90%;
    padding-top: 100px;
  }
  .h1 {
    font-size: 45px;
  }
  .button_two {
    display: none;
  }
  .button_one {
    background-color: #ff0099;
    padding-left: 20px;
    padding-right: 20px;
  }
}
